* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.coluna {
  display: grid;
  grid-template-columns: 40% auto;
  width: 900px;
  justify-content: center;
  /* border: solid 1px red; */
  margin: auto;
}

.color {
  background-color: #155D4F;
  padding: 20px 32px 20px 32px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32PX;
}

.image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit:cover;
  object-position: 10% 20%;
}

.infos {
  padding: 78px 32px 32px 32px;
  display: flex;
  flex-direction: column;
}

.infos h1 {
  color: #155D4F;
  margin-bottom: 32px;
  font-size: 36px;
}

.infos p {
   margin-left: 20px;
   margin-bottom: 28px;
}

h2 {
  margin-bottom: 10px;
}


.contact li {
  display: flex;
  align-items: center;
  margin: auto;
  /* padding-left: 16px; */
  list-style:circle;
  gap: 8px;
}

.idioma li {
  display: flex;
  align-items: center;
  margin: auto;
  list-style:circle;
  gap: 8px;
}

.point ul {
  padding-left: 16px;
}

li img {
  width: 25px;
  height: 25px;
}

.nome {
  border-top: solid 2px black;
}

.line {
  border-top: solid 2px black;
}

.line2 {
  border-top: solid 2px #ffffff;
}

.line3 {
  width: 55px;
  border-top: 18px solid #ffffff;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

.line4 {
  width: 55px;
  border-top: 18px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

.ingles {
  margin-bottom: 18px;
}

.ingles li{
  margin-bottom: 8px;
}

.espanhol li{
  margin-bottom: 8px;
}

ul {
  margin-bottom: 32px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #0288D1;
}